@model ProyectoFinal2.Models.CLIENTES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CLIENTES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRECOMPLETO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRECOMPLETO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORREO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCLIENTE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
