@model ProyectoFinal2.Models.INVERSIONES

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>INVERSIONES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MONTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLAZOMESES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLAZOMESES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPODEPAGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPODEPAGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAINICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAINICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAVENCIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAVENCIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INTERESESGANADOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INTERESESGANADOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTES.NOMBRECOMPLETO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTES.NOMBRECOMPLETO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
