@model ProyectoFinal2.Models.PROYECCIONPAGOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PROYECCIONPAGOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NUMEROCUOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMEROCUOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAPAGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAPAGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTOPAGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTOPAGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADOPAGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADOPAGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRESTAMOS.ENTIDADFINANCIERA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRESTAMOS.ENTIDADFINANCIERA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPROYECCION }) |
    @Html.ActionLink("Back to List", "Index")
</p>
