@model IEnumerable<ProyectoFinal2.Models.PROYECCIONPAGOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NUMEROCUOTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHAPAGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONTOPAGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADOPAGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRESTAMOS.ENTIDADFINANCIERA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NUMEROCUOTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAPAGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONTOPAGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADOPAGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRESTAMOS.ENTIDADFINANCIERA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPROYECCION }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPROYECCION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPROYECCION })
        </td>
    </tr>
}

</table>
